body {
  font-family: $raleway;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $karla;
}
//forms

#{$all-text-inputs} {
  border: 1px solid $beige;
}

#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  border: 1px solid $pink;
}

#{$all-text-inputs-active} {
  border: 1px solid $pink;
}

#{$all-buttons} {
  background-color: $green;
}

#{$all-buttons-focus},
#{$all-buttons-hover} {
  background-color: $pink;
}

#{$all-buttons-active} {
  background-color: $beige;
}
nav {

ul{
  list-style: none;
}

li {
  display: inline-block;}

 a {
  padding: 0 10px;

  &:hover {
    color:$dark-green
  }
}
}
