.site-footer{
  background: $pink

}
@mixin font-awesome($padding){
  padding: $padding;
}
.social-menu a {
  color:$light-green;
  &:before {
    font-family: FontAwesome;
  @include font-awesome(0 5px 0 0 )
  }
  &.twitter:before {
    content:"\f099";

  }
  &.facebook:before {
    content:"\f09a";

  }
  &.github:before {
    content:"\f09b";
  }

}
