//Susy set up
$susy: (
columns: 16,
gutters: 1/6,
global-box-sizing: border-box-sizing,
gutter-position: split,
math: fluid,
);


.features{
  @include clearfix;
  //padding-top: 20px;

}
.features .card {
  @include susy-breakpoint($xsmall){
    @include span(8);
  }
  @include susy-breakpoint($small){
    @include span(6);
  }
  @include susy-breakpoint($medium){
    @include span(4);
  }
  @include susy-breakpoint($large) {
    @include span(2);
  }
@include susy-breakpoint($xlarge){
  @include span(1);
}
}

.content {
  @include susy-breakpoint($large){
  @include span (4);
}
@include susy-breakpoint($medium){
  @include span (8);
}

}
.sidebar {
  @include susy-breakpoint($large){
  @include span(2);
}

.customer{
@include susy-breakpoint($medium){
  @include span(3);
  @include prefix(25%);
  @include suffix(25%);
}
}
}
