.site-inner h2{
  text-align:center;
  padding-top: 20px;
  width:auto;
}

.wrap{
padding-bottom:20px;
padding-left:10%;
padding-right:10%

}


.card-group{
display:block;
width:100%;
min-width:300px;
card-block{
  display:inline;
}
}
.card{
  min-width:300px;
  padding:5px;
border:none;
}
.card-img-top{
  object-fit:cover;
  object-position:center;
  max-width: 420px;
    max-height:180px;
    min-height:211px;
    border-left:.5px;
    border-top:.5px;
    border-right:.5px;
    border-bottom:0px;
    border-style:solid;

}
.card-block{
  border-width:.5px;
  border-style:solid;
}
.hero .overlay {
  background: rgba($pink, .3);
}
.hero {
  text-align: center;
}
.hero .wrap {
  padding: 60px 0;
}
.wrap{
  height:80%;
}

  .quote{
    font-style:italic;
    font-family: $karla;
}

.social-menu{
  text-align: left;
}
