/*Color Palette */

$pink: rgba(210, 171, 153, 1);
$beige: rgba(189, 190, 169, 1);
$light-green: rgba(141, 179, 139, 1);
$green: rgba(86, 135, 109, 1);
$dark-green: rgba(4, 114, 77, 1);

$slabo: 'Slabo 27px', serif;
$raleway: 'Raleway', sans-serif;
$karla: 'Karla', sans-serif;
$old-standard: 'Old Standard TT', serif;
$molengo: 'Molengo', sans-serif;

$default-border-radius: 20px;

$xsmall: 380px;
$small: 480px;
$medium: 640px;
$large: 960px;
