/*Color Palette */

$pink: rgba(210, 171, 153, 1);
$beige: rgba(189, 190, 169, 1);
$light-green: rgba(141, 179, 139, 1);
$green: rgba(86, 135, 109, 1);
$dark-green: rgba(4, 114, 77, 1);

$slabo: 'Slabo 27px', serif;
$raleway: 'Raleway', sans-serif;
$karla: 'Karla', sans-serif;
$old-standard: 'Old Standard TT', serif;
$molengo: 'Molengo', sans-serif;
$lora: 'Lora', serif;
$roboto: 'Roboto', sans-serif;

$default-border-radius: 20px;

$xxsmall: 280px;
$xsmall: 380px;
$small: 480px;
$medium: 640px;
$large: 960px;
$xlarge:1080px;

$base-border-color: $beige;
$base-border-radius: 3px;
$base-line-height: 1.5em ;
$base-background-color: $beige;
$dark-gray: #333 !default;
$large-screen: 53.75em !default;
$base-font-color:$dark-green;
$dropdown-color: $green;
$dropdown-description-color: lighten($dropdown-color, 40%);
$dropdown-border: $green;
$dropdown-background: $green;
$dropdown-background-hover: darken($dropdown-background, 3%);
$dropdown-inner-border: 1px solid silver;
$dropdown-height: 40px;
$dropdown-padding: 1em;
$dropdown-distance-from-menu: 50px;
$dropdown-arrow-top-distance: 0;
